<div class="col-lg-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Cuadro Tarifario Vigente</h3>
		</div>
		<div class="panel-body">
			<table class="table">
				<tr>
					<td>
						Comisión
					</td>
					<td>
						<%= label_tag 'commission', '', id: 'purchase_actual_rate_chart_commission' %>
					</td>
				</tr>
				<tr>
					<td>
						Mínimo
					</td>
					<td align="right">
						$25.00
					</td>
				</tr>
				<tr>
					<td>
						IVA comisión
					</td>
					<td align="right">
						21%
					</td>
				</tr>
				<tr>
					<td>
						Dº Mercado
					</td>
					<td align="right">
						0.08%
					</td>
				</tr>
				<tr>
					<td>
						IVA Dº Mercado
					</td>
					<td align="right">
						21%
					</td>
				</tr>
				<tr>
					<td colspan="2" align="center">
						<%= link_to 'Calcular', '#', class: 'btn btn-default' %>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>